@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/* Exceptional Realty CSS */

/* Type Selectors*/
p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  /*font: normal 0.75em/1.5em Georgia, "New Times Roman", serif;*/
  font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

/* Class Selectors */
.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

/* ID Selectors*/

/*   font: bold 2.6em 'Clicker Script', cursive; */